# Default owners สำหรับทั้ง repository
# ใช้ทีม itk-admin เป็น code owner

* @itk-config 

#* @itk-admin


# ตัวอย่างการใช้งานเฉพาะไฟล์
#*.md @org-itk/itk-admin
#/config/ @org-itk/itk-admin
#/.github/ @org-itk/itk-admin
